body {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


